.about{
  margin-top: 50px;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  text-align: left;
  width: 100%;
}

h2{
  display: inline-block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 100px;
}

h2 {
  margin-bottom: -115px;
}

p {
  padding-top: 100px;
  margin-top: -115px;
}

p.left {
  padding-right: 20px;
}

p.right{
  padding-left: 20px;
}

h2{
  display: inline-block;
  text-align: center;
  width: 100%;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  max-height: 300px;
}

.flex p{
  flex: 2;
  min-width: 100px;
}

.flex img{
  max-width: 30%;
  margin-top: -115px;
  flex: 1;
  border-radius: 50% 50%;
  align-self: center;
}

