figure {
  display: inline-block;
  margin: 50px;
  min-width: 187px;
  text-align: center;
}

figcaption{
  font-size: 30px;
}

.cards {
  padding: 10px 30px 10px 30px;
  text-align: center;
  max-width: 79%;
  margin: auto;
  background-color: rgb(246, 246, 246, 0.75);
  border-radius: 20px;
}

p.notuser {
  width: 90px;
  margin: auto;
}

.card {
  max-width: 80px;
}

.cards h3 {
  margin-top: 20px;
  font-size: 30px;
}

#usernameform {
  color: #373737;
  padding: 20px 0;
  text-align: center;
  position: relative;
  top: 50px;
}

#usernameform input {
  display: block;
  margin: 0 auto;
  width: 30%;
  
}

.formOrGreeting{
  height: 150px;
  font-family: 'Fjalla One', sans-serif;
}

.formOrGreeting p {
  position: relative;
  color: #373737;
  top: 50px;
}

label, .formOrGreeting p {
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
}

.formOrGreeting p.notuser {
  font-size: 15px;
  padding-top: 0px;
  margin-top: -10px;
}

img {
  border-radius: 50% 50%;
}