/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  margin: 50px auto;
  display: inline-block;
  font-size: 40px;
  font-family: 'Indie Flower', cursive;
}
/* flip the pane when clicked */

.is-flipped{
  transform: rotateX(-180deg);
  transform-origin: 100% 150px;
}

.flip-container, .card-front, .card-back {
	width: 491px;
	height: 300px;
}

/* flip speed goes here */
.flipper {
	transition: 0.5s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide card-back of pane during swap */
.card-front, .card-back {
	backface-visibility: hidden;
  position: absolute;
}

/* card-front pane, placed above back */
.card-front {
	z-index: 2;
	/* for firefox 31 */
  transform: rotateY(0deg);
  background-image: url('../img/blank-index-card.jpg');
}

/* back, initially hidden pane */
.card-back {
  transform: rotateX(-180deg);
  background-image: url('../img/blank-index-card.jpg');
}

section{
  text-align: center;
}

footer{
  text-align: center;
}

.progress{
  display: inline-block;
  vertical-align: top;
  margin: 30px 30px;
}

.progress img{
  display: inline-block;
}

.progress h2{
  display: block;
}

.card-stack{
  width: 300px;
  display: inline-block;

}

#question-front, #question-back{
  margin: 30px 0 10px 0;
  font-size: 60px;
}

#x-mark, #check-mark {
  min-height: 150px;
  max-height: 175px;
}

#wrong, #right{
  font-size: 30px;
}

div #a1, #a2, #a3{
  display: block;
  padding: 5px 0px;
  width: 50px;
  margin: auto;
  position: relative;
  left: -21px;
  cursor: pointer;
}

.enlarge{
  animation: pulse 1s;
}

@keyframes pulse {
  0% {
    transform: scale(2.5);
  }

  100% {
    transform: scale(1);
  }
  
}

.shake-wrong {
  animation: shake 0.5s;
  animation-iteration-count: 2s;
}

@keyframes shake {
  0% { transform: translate(2px, 2px) rotate(0deg); }
  10% { transform: translate(-2px, -4px) rotate(-2deg); }
  20% { transform: translate(-6px, 0px) rotate(2deg); }
  30% { transform: translate(6px, 4px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(2deg); }
  50% { transform: translate(-2px, 4px) rotate(-2deg); }
  60% { transform: translate(-6px, 2px) rotate(0deg); }
  70% { transform: translate(6px, 2px) rotate(-2deg); }
  80% { transform: translate(-2px, -2px) rotate(2deg); }
  90% { transform: translate(2px, 4px) rotate(0deg); }
  100% { transform: translate(2px, -4px) rotate(-2deg); }
}

#progressBar {
  position: relative;
  margin: auto;
  width: 70%;
  height: 30px;
  background-color: #ddd;
}

#barStatus {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgb(254, 204, 27);
}

#time-display{
  display: inline-block;
  width: 70px;
  margin: auto;
  font-size: 50px;
  color: #696969;
}

.timer {
  font-size: 17px;
  text-align: center;
  padding: 10px 0;
}

button{
  margin: 10px 0px;
  padding: 10px 20px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  border: 3px solid black;
  background-color: rgb(0, 128, 0, 0.5);
  border-radius: 10px 10px;
}

#display-counter{
  padding: 5px 10px;
  display: inline-block;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #696969;
  outline: none;
}