.results{
  width: 50%;
  height: 100%;
  margin: 10px auto;
  background-color: whitesmoke;
  opacity: .7;
  border-radius: 25px;
}


ol {
  text-decoration: black;
  list-style-type: lower-roman;
  list-style-position: inside;
}

#load_scores li{
  margin-bottom: 25px;
  width: 75%;
  text-decoration: black;
  list-style: decimal;
  list-style-position: inside;
  /* margin-right: 20px; */
}

li ::before {
  color: black;
}


li a {
  font-size: 20px;
  list-style-type: upper-latin;
}

.visualChart{
  width: 75%;
  height: fit-content;
  background:whitesmoke;
  border-radius: 25px;
  margin: 30px auto;
}

.results h2{
  margin: 25px;
  padding-top: 20px;
}