.results{
  width: 100%;
  height: 100%;
  margin: 20px auto;
}

ol {
  text-decoration: black;
  list-style-type: upper-latin;
  list-style-position: inside;
  list-style: circle;
  display: flex;
  flex: wrap;
}

ol li {
  width: 75%;
  text-decoration: brown; 
  display: inline-block;
}

li ::before {
  color: black;
}


li a {
  font-size: 20px;
  text-decoration: brown; 
  list-style-type: upper-latin;
}