body {
  margin: 0 auto;
  max-width: 80%;
}
nav {
 margin-top: 20px;
 border-bottom: 5px solid black; 
 
}
nav h1 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 10px;

}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex: wrap;
}

li {
  display: inline-block;
  margin: 10px 1%;
  width: 32%;
}

li a {
  text-decoration: none;
  font-size: 20px;
}

.cards {
  max-width: 100%;
  border: 2px solid black;
  padding: 0 30px 50px 30px;
  text-align: center;
}

.card {
  max-width: 80px;
  
}

img{
  max-width: 200px;
}

figure {
  display: inline-block;
  margin: 50px;
  min-width: 200px;
  text-align: center;
  outline: 1px solid black;
}

.cards h3 {
  margin-top: 20px;
  font-size: 30px;
}

#usernameform {
  padding: 20px 0;
  text-align: center;
}

#usernameform input {
  display: block;
  margin: 0 auto;
  width: 30%;
  
}

label, .formOrGreeting p {
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
}

.formOrGreeting p.notuser {
  font-size: 15px;
  padding-top: 0px;
  margin-top: -10px;
}


/*-----------------Quiz CSS --------------------*/

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
/* .flip-container:active .flipper {
  transform: rotateX(-180deg);
  transform-origin: 100% 150px;
} */
.is-flipped{
  transform: rotateX(-180deg);
  transform-origin: 100% 150px;
}

.flip-container, .card-front, .card-back {
	width: 500px;
	height: 300px;
}

/* flip speed goes here */
.flipper {
	transition: 0.5s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide card-back of pane during swap */
.card-front, .card-back {
	backface-visibility: hidden;

	position: absolute;
  top: 49%;
  left: 30%;
}

/* card-front pane, placed above back */
.card-front {
	z-index: 2;
	/* for firefox 31 */
  transform: rotateY(0deg);
  background-color: blueviolet;
}

/* back, initially hidden pane */
.card-back {
  transform: rotateX(-180deg);
  background-color: red;
}

footer{
  text-align: center;
}

.progress{
  display: inline-block;
}

.progress img{
  display: block;
}


.card-stack{
  width: 300px;
  display: inline-block;

}
.about{
  margin-top: 50px;
}

.about h2{
  display: inline-block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.about div{
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  text-align: left;
}

.about p{
  max-width: 500px;
}

.about_main{
  text-align: center;

}
