body {
  margin: 0 auto;
  max-width: 80%;
}
nav {
 border-bottom: 5px solid black; 
}

nav h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;

}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

}

li {
  display: inline-block;
  margin: 0 14%;
}

li a {
  text-decoration: none;
}

.cards {
  max-width: 40%;
  border: 2px solid black;
}

.card {
  max-width: 80px;
}

img{
  max-width: 80px;
}